/*
******************************************
VARIABLES
******************************************
*/
:root {
    --body-bg: linear-gradient(0deg, rgba(1,1,1,1) 0%, rgba(34,42,105,1) 51%, rgba(77,114,196,1) 100%);
    --main-color: white;
    --p-color: #b3b3c8;
}

/*
******************************************
GENERAL
******************************************
*/
html {
    overflow: hidden;
    height: 100vh;
    background: var(--body-bg);
}

body {
    margin: 0;
}

* {
    font-family: "Montserrat", sans-serif;
}

h1,h2,h3,h4 {
    color: var(--main-color);
}

p {
    color: var(--p-color) !important;
}

.hr-white {
	height: 1px;
	border: 0;
	width: 90%;
	margin: 20px auto;
	background: rgb(226, 226, 226);
	background: radial-gradient(circle,
			rgb(240, 240, 240) 0%,
			rgba(255, 255, 255, 0.144) 50%,
			rgba(255, 254, 254, 0) 100%);
}


/*
******************************************
METEO CONTAINER
******************************************
*/
.main-meteo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    overflow-y: scroll;
}

.meteo-img {
    max-width: 150px;
}

.main-title{
    text-align: center;
}

.main-title,
.temperature {
    text-transform: uppercase;
    text-shadow: -3px 3px 3px #111127;
    letter-spacing: 12px;
}

.flex-left-right {
    display: flex;
}